.more-screen .icon-row {
  margin-top: 35px;
}
.icon-row--blank-row div:nth-child(3),
.icon-row--blank-row div:nth-child(4) {
  color: white;
}
.more-suggestions {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 40px;
}
.more-suggestions__title {
  margin-bottom: 30px;
  font-weight: 600;
}
.more-suggestions__icons {
  display: flex;
}
.more-suggestions__icon {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-suggestions__icon-image img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin-bottom: 10px;
}
