#no-mobile {
  position: absolute;
  top: 0;
  z-index: 99;
  height: 100vh;
  background-color: var(--yellow);
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

@media screen and (min-width: 645px) {
  #no-mobile {
    display: flex;
  }
  body {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
}
