.screen-header {
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
  align-items: center;
}
.screen-header__icons span {
  margin-left: 25px;
}
.screen-header__icons--find {
  position: relative;
}
.screen-header__icons--find div:last-child {
  background-color: tomato;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  display: flex;
  position: absolute;
  right: -10px;
  top: -10px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1.5s linear infinite;
}
